body{
    margin: 0;
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}
.btn{
    text-decoration: none;
    background-color:rgb(159, 107, 38);
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: bold;
    position: relative;
    overflow: hidden;

}
.btn span{
    position: relative;
    z-index: 1;
    color: black;
}

.btn::before{
   content: "";
   position: absolute;
   background-color: rgb(19, 195, 157);
   width: 0px;
   height: 0px;
   left: var(--xPos);
   top: var(--yPos);
   transform: translate(-50%, -50%);
   border-radius: 50%;
   transition: width .7s, height .7s;
   

}

.btn:hover::before{
    width: 300px;
    height: 300px;
    
}